<mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
<div multi="true" *ngIf="posts.length > 0 && !isLoading">
  <button mat-button color="primary" (click)="expanded = !expanded">
    {{ expanded ? 'Hide' : 'Expand' }} All
  </button>

  <mat-expansion-panel [expanded]="expanded" *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <strong>{{ post.title }}</strong>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button
        mat-button
        color="primary"
        [routerLink]="['/edit', post.id]"
        routerLinkActive="router-link-active"
      >
        EDIT
      </button>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>

<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
  Post is yet to be added
</p>
